---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
	pageTitle="Parked Domain"
	metaDescription="Built with Astro 6" >
    <div class="relative flex max-w-3xl flex-col items-center text-center gap-5">
	    <p class="text-xs md:text-base font-extrabold uppercase tracking-wider text-taupe-400">
	    	This domain is claimed
	    </p>
	    <h1 class="text-balance text-6xl md:text-9xl font-bold text-gray-800">
        	Stay Tuned!
    	</h1>
		<p class="max-w-md text-xl md:text-3xl pt-1 md:pt-6 font-normal text-gray-600">
			Something new is in the works.
		</p>
    </div>
</BaseLayout>
